
@font-face
    font-family gamefont
    src url(../res/font/slkscre.ttf)
    
.screen-wrapper
	text-align center
#game-screen
	border 8px solid #cd6600
	width 600pt
	height 400pt
	
h1
	font-family gamefont
	font-size 4em
	color #cd6600
	margin 0.2em 0
	
p
	text-align right
	color #888
	margin-right 1em
	font-style italic
	font-family gamefont
	
p:hover
	cursor pointer
	
