@font-face {
  font-family: gamefont;
  src: url("../res/font/slkscre.ttf");
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

.screen-wrapper {
  text-align: center;
}

#game-screen {
  border: 1px dashed #cd6600;
  width: 600pt;
  height: 400pt;
}
